<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

<f:layout name="Content" />

    <f:section name="Configuration">

    <flux:form id="teufelsCptCntBsColone"
               label="TYPO3 :: Bootstrap :: 1 Spalte"
               options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">

        <flux:form.sheet name="preview" label="Preview" description="" shortDescription="Preview">
            <flux:field.custom name="customPreview">
                <div class="l">
                    <p>{col-xs}<br>Visibility on smartphone:{visibility-xs}</p>
                    <p>{col-sm}<br>Visibility on tablet:{visibility-sm}</p>
                    <p>{col-md}<br>Visibility on desktop:{visibility-md}</p>
                    <p>{col-lg}<br>Visibility on large desktop:{visibility-lg}</p>
                </div>
            </flux:field.custom>
        </flux:form.sheet>

        <!-- SMARTPHONE -->
        <flux:form.sheet name="smartphone" label="Smartphone" description="" shortDescription="Display options for large smartphone">
                <flux:field.custom name="customXs">
                    <div class="l">
                        <img src="{v:extension.path.resources(path: 'Icons/col-xs.png')}"/>
                    </div>
                </flux:field.custom>
                <v:variable.set name="col-xs">col-xs-12</v:variable.set>
                <flux:field.select name="visibility-xs" label="Visibility on smartphone" default=""
                                   items="{
                               0:{0:'--',1:''},
                               1:{0:'Show on Smartphone',1:'visible-xs'},
                               2:{0:'Hide on Smartphone',1:'hidden-xs'}
                               }"
                        />
            </flux:form.sheet>


        <!-- TABLET -->
        <flux:form.sheet name="tablet" label="Tablet" description="" shortDescription="Display options for tablet">
            <flux:field.custom name="customSm">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-sm.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-sm" label="Use Offset on tablet" default="NULL" requestUpdate="1"/>
            <f:if condition="{offset-sm}">
                <f:then>
                    <v:variable.set name="col-sm">col-sm-10 col-sm-offset-1</v:variable.set>
                </f:then>
                <f:else>
                    <v:variable.set name="col-sm">col-sm-12 col-sm-offset-0</v:variable.set>
                </f:else>
            </f:if>
            <flux:field.select name="visibility-sm" label="Visibility on tablet" default=""
                               items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on tablet',1:'visible-sm'},
                           2:{0:'Hide on tablet',1:'hidden-sm'}
                           }"
                    />

        </flux:form.sheet>

        <!-- DESKTOP -->
        <flux:form.sheet name="desktop" label="Desktop" description="" shortDescription="Display options for desktop">
            <flux:field.custom name="customMd">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-md.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-md" label="Use Offset on desktop" default="NULL" requestUpdate="1"/>
            <f:if condition="{offset-md}">
                <f:then>
                    <v:variable.set name="col-md">col-md-10 col-md-offset-1</v:variable.set>
                </f:then>
                <f:else>
                    <v:variable.set name="col-md">col-md-12 col-md-offset-0</v:variable.set>
                </f:else>
            </f:if>
            <flux:field.select name="visibility-md" label="Visibility on desktop" default=""
                               items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on desktop',1:'visible-md'},
                           2:{0:'Hide on desktop',1:'hidden-md'}
                           }"
                    />
        </flux:form.sheet>

        <!-- LARGE DESKTOP -->
        <flux:form.sheet name="largedesktop" label="Large desktop" description="" shortDescription="Display options for large desktop">
            <flux:field.custom name="customLg">
                <div class="l">
                    <img src="{v:extension.path.resources(path: 'Icons/col-lg.png')}"/>
                </div>
            </flux:field.custom>
            <flux:field.checkbox name="offset-lg" label="Use Offset on large desktop" default="NULL" requestUpdate="1"/>
            <f:if condition="{offset-lg}">
                <f:then>
                    <v:variable.set name="col-lg">col-lg-10 col-lg-offset-1</v:variable.set>
                </f:then>
                <f:else>
                    <v:variable.set name="col-lg">col-lg-12 col-lg-offset-0</v:variable.set>
                </f:else>
            </f:if>
            <flux:field.select name="visibility-lg" label="Visibility on large desktop" default=""
                               items="{
                           0:{0:'--',1:''},
                           1:{0:'Show on large desktop',1:'visible-lg'},
                           2:{0:'Hide on large desktop',1:'hidden-lg'}
                           }"
                    />

        </flux:form.sheet>

            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column name="col0" label="Column <br><code>{col-xs}</code><code>{col-sm}</code><code>{col-md}</code><code>{col-lg}</code>" style="width:100%;" />
                </flux:grid.row>
            </flux:grid>

        </flux:form>
    </f:section>

    <f:section name="Preview">

    </f:section>

    <f:section name="Main">


        <v:variable.set name="col-xs">col-xs-12</v:variable.set>
        <f:if condition="{offset-sm}">
            <f:then>
                <v:variable.set name="col-sm">col-sm-10 col-sm-offset-1</v:variable.set>
            </f:then>
            <f:else>
                <v:variable.set name="col-sm">col-sm-12 col-sm-offset-0</v:variable.set>
            </f:else>
        </f:if>

        <f:if condition="{offset-md}">
            <f:then>
                <v:variable.set name="col-md">col-md-10 col-md-offset-1</v:variable.set>
            </f:then>
            <f:else>
                <v:variable.set name="col-md">col-md-12 col-md-offset-0</v:variable.set>
            </f:else>
        </f:if>

        <f:if condition="{offset-lg}">
            <f:then>
                <v:variable.set name="col-lg">col-lg-10 col-lg-offset-1</v:variable.set>
            </f:then>
            <f:else>
                <v:variable.set name="col-lg">col-lg-12 col-lg-offset-0</v:variable.set>
            </f:else>
        </f:if>

        <v:variable.set name="classes_col" value="{col-xs} {col-sm} {col-md} {col-lg}" />


        <div class="row {visibility-xs} {visibility-sm} {visibility-md} {visibility-lg}">
            <div class="{classes_col}">
                <!--col-xs: {col-xs} -->
                <!--col-sm: {col-sm} -->
                <!--col-md: {col-md} -->
                <!--col-lg: {col-lg} -->
                <flux:content.render area="col0" />
            </div>
        </div>


    </f:section>

</div>
